---
import type { ImatgeT } from '../../lib/types';

interface Props {
  imatge: ImatgeT;
}
const { imatge } = Astro.props;
const { src, alt } = imatge;
---

<section
  id='presentacio'
  class='bg-zinc-800 flex flex-col md:flex-row px-20 py-16 gap-3 text-center md:text-left rounded-xl'>
  <div>
    <h2 class='text-5xl pb-8'>Presentació</h2>
    <p class='text-2xl font-extralight py-4'>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis fugiat
      impedit nihil vitae magni quidem minus eius, culpa esse porro fuga at
      incidunt illum quas unde delectus, eaque ullam labore quia expedita
      aliquam laboriosam? Ad iste quidem cumque at quo totam quasi nulla. Ut
      vitae laborum corrupti iste ipsa recusandae.
    </p>
    <p class='text-2xl font-extralight py-4'>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis fugiat
      impedit nihil vitae magni quidem minus eius, culpa esse porro fuga at
      incidunt illum quas unde delectus.
    </p>
  </div>
  <img class='w-80 mx-auto' src={src} alt={alt} />
</section>
