---
import logo from '../assets/img/logo-preview2.webp';
import Nav from './Nav.astro';
import type { enllassT } from '../lib/types/contingutTypes';

interface Props {
  logo: string;
  enllassos: enllassT[];
}
const imatgeLogo = logo.src;
const { enllassos } = Astro.props;
---

<div class='fixed top-0 w-full bg-slate-800 p-4 flex'>
  <div class='flex'>
    <img class='w-60' src={imatgeLogo} alt='Logo' />
  </div>
  <div class='flex-1 flex flex-col'>
    <h1 class='text-center text-6xl font-bold py-4 -ms-60 uppercase'>
      Astro <span class='font-thin' );>SLP</span>
    </h1>
    <Nav enllassos={enllassos} 
    />
  </div>
</div>
