---
import logoAstro from '../assets/svg/favicon.svg';
---

<section class='flex flex-col gap-12 md:flex-row rounded-xl md:p-20'>
  <div class='flex-1 grid grid-cols-2'>
    <div>
      <img class='w-20 m-auto' src={logoAstro.src} alt="Logo d'Astro" />
      <p class='text-center pt-4'>Dev Management</p>
    </div>
    <div>
      <img class='w-20 m-auto' src={logoAstro.src} alt="Logo d'Astro" />
      <p class='text-center pt-4'>Dev Management</p>
    </div>
    <div>
      <img class='w-20 m-auto' src={logoAstro.src} alt="Logo d'Astro" />
      <p class='text-center pt-4'>Dev Management</p>
    </div>
    <div>
      <img class='w-20 m-auto' src={logoAstro.src} alt="Logo d'Astro" />
      <p class='text-center pt-4'>Dev Management</p>
    </div>
  </div>
  <div class='flex-1 text-center'>
    <h2 class='text-5xl font-bold pb-2'>Lorem ipsum dolor sit.</h2>
    <p class='text-3xl py-4 text-zinc-300'>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo, ad.
    </p>
  </div>
</section>
