---
import type { enllassT } from '../lib/types';

interface Props {
	enllassos: enllassT[];
}
const { enllassos } = Astro.props;
---

<nav id="nav">
	<ul class='flex flex-row flex-wrap gap-8 md:gap-16 xl:gap-24 lg:-ms-60  justify-center p-6 text-xl text-zinc-400 capitalize'>
		{
			enllassos.map(({ url, nom }) => (
				<li class='cursor-pointer hover:text-sky-400 border-b-2 border-transparent hover:border-sky-400'>
					<a href={url}>{nom}</a>
				</li>
			))
		}
	</ul>
</nav>
