---
import type { enllassT } from '../lib/types/contingutTypes';

interface Props {
	enllassos: enllassT[];
}
const { enllassos } = Astro.props;
---

<nav>
	<ul class='flex gap-4 justify-evenly p-6 text-xl text-zinc-400 capitalize'>
		{
			enllassos.map(({ url, nom }) => (
				<li class='cursor-pointer hover:text-sky-400 hover:border-b-2 hover:border-sky-400'>
					<a href={url}>{nom}</a>
				</li>
			))
		}
	</ul>
</nav>
