---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { contacte, enllaços, xxss } from '../lib/data/contingutWeb';
interface Props {
  titol: string;
}
const { titol } = Astro.props;
console.log('Càrrega Layout');
---

<!doctype html>
<html lang='ca'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{titol}</title>
  </head>

  <body class='min-h-screen bg-zinc-900 text-zinc-200'>
    <div class='container mx-auto'>
      <header class='alçada-header'>
        <Header enllassos={enllaços} />
      </header>
      <div class='px-4'>
        <slot />
      </div>
      <footer>
        <Footer contacte={contacte} xxss={xxss} />
      </footer>
    </div>

    <style is:global>
      html {
        scroll-behavior: smooth;
        font-size: 75%;
      }

      body {
        font-family: 'ubuntu', sans-serif;
      }

      @media (min-width: 0px) {
        .container {
          /* color: red; */
          max-width: 420px;
        }
        .alçada-header {
          height: 395px;
        }
        section {
          scroll-margin-top: 395px;
        }
      }

      @media (min-width: 640px) {
        .container {
          /*
      mida: 'sm'
      color: blue; */
          max-width: 640px;
        }
        .alçada-header {
          height: 355px;
        }
        section {
          scroll-margin-top: 355px;
        }
      }

      @media (min-width: 768px) {
        .container {
          /*
      mida: 'md' 
      color: orange; */
          max-width: 768px;
        }
      }

      @media (min-width: 1024px) {
        .container {
          /*
      mida: 'lg'
      color: green; */
          max-width: 1024px;
        }
        .alçada-header {
          height: 225px;
        }
        section {
          scroll-margin-top: 225px;
        }
      }

      @media (min-width: 1280px) {
        .container {
          /*
      mida: 'xl'
      color: brown; */
          max-width: 1280px;
        }
      }

      @media (min-width: 1536px) {
        .container {
          /*
      color: yellow; */
          max-width: 1536px;
        }
      }
    </style>
  </body>
</html>
