---
interface Props {
  titol: string;
}

const { titol } = Astro.props;
console.log('Càrrega Layout');
---

<!doctype html>
<html lang='ca'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{titol}</title>
  </head>

  <body class='bg-zinc-900 text-gray-100'>
    <main class='mx-auto mt-10 px-2 flex flex-col gap-y-16 container'>
      <slot />
    </main>

    <style is:global>
      
    </style>
  </body>
</html>

<style>
  @media (min-width: 420px) {
    .container {
      /* color: red; */
      max-width: 420px;
    }
  }
  @media (min-width: 640px) {
    .container {
      /*
      mida: 'sm'
      color: blue; */
      max-width: 640px;
    }
  }
  @media (min-width: 768px) {
    .container {
      /*
      mida: 'md' 
      color: orange; */
      max-width: 768px;
    }
  }
  @media (min-width: 1024px) {
    .container {
      /*
      mida: 'lg'
      color: green; */
      max-width: 1024px;
    }
  }
  @media (min-width: 1280px) {
    .container {
      /*
      mida: 'xl'
      color: brown; */
      max-width: 1280px;
    }
  }
  @media (min-width: 1536px) {
    .container {
      /*
      color: yellow; */
      max-width: 1536px;
    }
  }
</style>
