---
interface Props {
  titol: string;
}

const { titol } = Astro.props;
console.log('Càrrega Layout');
---

<!doctype html>
<html lang='ca'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{titol}</title>
  </head>

  <body class='bg-zinc-900 text-zinc-200'>
    <slot />
    <style is:global>
      html {
        scroll-behavior: smooth;
      }

      section {
        scroll-margin-top: 240px;
      }
    </style>
  </body>
</html>
